body {
   background: rgb(21, 21, 21);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 15px;
   backdrop-filter: blur(20px);
   border: 1px solid rgb(62, 61, 61);
   margin: 0 50px;
   margin-top: 3%;
   padding: 15px 40px;
   color: white;
   position: sticky;
   top: 20px;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1 {
   font-size: 18px;
   padding: 0;
   margin: 0;
}

h3.topic {
   font-size: 3rem;
}

nav a {
   display: inline-block;
   margin-right: 20px;
   text-decoration: none;
   color: beige;
   text-transform: uppercase;
   font-size: 11px;
}

span.menu {
   display: none;
}

section {
   padding: 15px 40px;
   margin: 25px 50px;
   color: white;
}

#intro h2 {
   font-size: 5rem;
   font-weight: 900;
   color: rgb(176, 107, 240);
}

.btn-1 {
   background: purple;
   padding: 18px 36px;
   margin: 10px 10px 10px 0;
   border-radius: 9px;
   color: white;
   border: none;
}

.btn-2 {
   background: transparent;
   padding: 18px 36px;
   color: white;
   margin: 10px 10px 10px 0;
   border-radius: 9px;
   border: 1px solid white;
}

/* Project cards */

.project-container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   z-index: 1;
}

.project-container .card {
   position: relative;
   width: 250px;
   height: 350px;
   margin: 20px 20px 20px 0;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   /* background: rgba(255, 255, 255, 0.1); */
   background-color: black;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(5px);
}

.project-container .card .content {
   padding: 20px;
   text-align: center;
}

.project-container .card .content h2 {
   position: absolute;
   top: -40px;
   left: 10px;
   font-size: 4rem;
   font-weight: 900;
   color: rgba(255, 255, 255, 0.05);
   pointer-events: none;
}

.project-container .card .content h3 {
   font-size: 1.8rem;
   color: #fff;
   z-index: 1;
   text-align: center;
}

.project-container .card .content p {
   font-size: 1em;
   color: #fff;
   font-weight: 300;
}

.project-container .card .content a {
   position: relative;
   display: inline-block;
   padding: 8px 20px;
   margin-top: 15px;
   color: #fff;
   border-radius: 20px;
   text-decoration: underline;
   text-decoration-color: aqua;
   text-decoration-thickness: 5px;
   font-weight: 500;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#my-photo{
   float: left;
}

section#my-tools, #connect{
   text-align: center;
}

footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 40px;
   color: #fff;
}



@media screen and (max-width: 760px) {

   nav {
      display: none;
   }
   span.menu {
      display: inline-block;
   }
}