html {
   scroll-behavior: smooth;
}

body {
   background: rgb(21, 21, 21);
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 15px;
   backdrop-filter: blur(20px);
   border: 1px solid rgb(62, 61, 61);
   margin: 0 50px;
   margin-top: 3%;
   padding: 15px 40px;
   color: white;
   position: sticky;
   top: 20px;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1 {
   font-size: 18px;
   padding: 0;
   margin: 0;
   font-variant: small-caps;
}

#intro h2 {
   font-size: 4rem;
   font-weight: 900;
   color: rgb(176, 107, 240);
}

h3.topic {
   font-size: 3rem;
}

a {
   display: inline-block;
   color: #fff;
   text-decoration: none;
   transition: .3s ease;
}

nav a {
   display: inline-block;
   margin-right: 20px;
   text-transform: uppercase;
   font-size: 11px;
   transition: .3s ease;
}

:where(i, a):hover {
   cursor: pointer;
   transition: .3s ease;
   transform: scale(1.1, 1.1);
   color: aqua;
   font-weight: 900;
}

i.bi {
   display: inline-block;
   margin-left: 20px;
   font-size: 18px;
   transition: .3s ease;
}

span.menu,
.side-nav {
   display: none;
}

section {
   padding: 15px 40px;
   margin: 25px 50px;
   color: white;
}

button {
   font-weight: 700;
   font-size: 16px;
   transition: .2s ease-in-out;
}

.btn-1 {
   background: purple;
   padding: 18px 36px;
   margin: 10px 10px 10px 0;
   border-radius: 9px;
   color: white;
   border: none;
}

.btn-1:hover {
   background: rgb(82, 0, 82);
}

.btn-2 {
   background: transparent;
   padding: 18px 36px;
   color: white;
   margin: 10px 10px 10px 0;
   border-radius: 9px;
   border: 1px solid white;
}

.btn-2:hover {
   box-shadow: 0 0 5px 1px purple;
   border: 1px solid purple;
}

#my-photo {
   display: inline-block;
   width: 300px;
   height: auto;
   margin-right: 10px;
   border-radius: 8px;
   box-shadow: 0 0 0 2px aqua;
}

#my-tools div {
   display: flex;
   justify-content: start;
   align-items: center;
}

.tool-img {
   display: block;
   width: 40px;
   height: auto;
   margin-right: 20px;
   border-radius: 8px;
}

#about-me .about-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 11px;
   padding: 5px 40px;
   margin: 0 50px;
   color: #fff;
   font-weight: 900;
}

hr {
   height: 2px;
   background: linear-gradient(45deg, purple, aqua);
   background-size: 200% 200%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   animation: gradient 5s ease infinite;
   border: none
}

.to-top {
   position: fixed;
   bottom: -2px;
   right: 50%;
   transform: translateX(50%);
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 40px 40px 0 0;
   backdrop-filter: blur(5px);
   border: 1px solid black;
   padding: 10px;
   z-index: 3;
   cursor: pointer;
   transition: .3s ease;
   /* animation: hovering 5s ease infinite; */
}

.hidden {
   bottom: -35px;
}

@media screen and (max-width: 760px) {
   header {
      margin: 0 20px;
      padding: 15px 20px;
      position: sticky;
      top: 20px;
   }

   h1{
      font-size: 13px;
   }
   #intro h2 {
      font-size: 3rem;
      font-weight: 900;
      color: rgb(176, 107, 240);
   }

   h3.topic {
      text-align: center;
      font-size: 2rem;
   }

   section {
      margin: 10px 25px;
      padding: 15px 5px;
      text-align: center;
   }

   nav {
      display: none;
   }

   #my-photo {
      float: none;
      width: 300px;
      height: auto;
   }

   span.menu {
      display: block;
      cursor: pointer;
      font-size: 20px;
   }

   .side-nav {
      height: 400px;
      width: 25px;
      position: fixed;
      z-index: 2;
      left: -900px;
      bottom: 0;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(9px);
      border-top: 1px solid purple;
      border-right: 1px solid purple;
      border-radius: 0 20px 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      transition: 0.5s;
      padding: 20px;
   }

   .side-nav .item {
      display: block;
      margin: 1px auto;
      font-size: 30px;
      transition: 0.3s;
      cursor: pointer;
      color: white;
   }

   #my-tools div {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   footer {
      margin: 0px 25px;
      padding: 0px 5px;
      color: #fff;
   }
}

@keyframes hovering {
   0% {
      top: 0px;
   }

   50% {
      top: -15px;
   }

   100% {
      top: 0px;
   }
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }

   100% {
      background-position: 0% 50%;
   }
}