html {
   scroll-behavior: smooth;
}

body {
   background: rgb(21, 21, 21);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 15px;
   backdrop-filter: blur(20px);
   border: 1px solid rgb(62, 61, 61);
   margin: 0 50px;
   margin-top: 3%;
   padding: 15px 40px;
   color: white;
   position: sticky;
   top: 20px;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1 {
   font-size: 18px;
   padding: 0;
   margin: 0;
   font-variant: small-caps;
}

#intro h2 {
   font-size: 4rem;
   font-weight: 900;
   color: rgb(176, 107, 240);
}

h3.topic {
   font-size: 3rem;
}

a {
   display: inline-block;
   color: #fff;
   text-decoration: none;
   transition: .3s ease;
}
a:visited {
   display: inline-block;
   text-decoration: none;
}

nav a {
   display: inline-block;
   margin-right: 20px;
   text-transform: uppercase;
   font-size: 11px;
   transition: .3s ease;
}

:where(i, a):hover {
   cursor: pointer;
   transition: .3s ease;
   transform: scale(1.1, 1.1);
   color: aqua;
   font-weight: 900;
}

i.bi {
   display: inline-block;
   margin-left: 20px;
   font-size: 13px;
   transition: .3s ease;
}

span.menu,
.lower-nav {
   display: none;
}

.mobile-nav {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: fit-content;
   z-index: 3;
}

section {
   padding: 15px 40px;
   margin: 25px 50px;
   color: white;
}

button {
   font-weight: 700;
   font-size: 16px;
   transition: .2s ease-in-out;
}
.btn-1 {
   background: purple;
   padding: 18px 36px;
   margin: 10px 10px 10px 0;
   border-radius: 9px;
   color: white;
   border: none;
}

.btn-1:hover {
   background: rgb(82, 0, 82);
}

.btn-2 {
   background: transparent;
   padding: 18px 36px;
   color: white;
   margin: 10px 10px 10px 0;
   border-radius: 9px;
   border: 1px solid white;
}

.btn-2:hover {
   box-shadow: 0 0 5px 1px purple;
   border: 1px solid purple;
}

#my-photo {
   display: inline-block;
   width: 300px;
   height: auto;
   margin-right: 10px;
   border-radius: 8px;
   box-shadow: 0 0 0 2px aqua;
}

#about-me .about-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 11px;
   padding: 15px 40px;
   margin: 0 50px;
   color: #fff;
   font-weight: 900;
}

.to-top {
   border-radius: 100%;
   color: #fff;
   font-size: 18px;
   border: 1px solid #fff;
   animation: hovering 5s ease infinite;
   position: relative;
}

@media screen and (max-width: 760px) {
   header {
      margin: 0 20px;
      padding: 15px 20px;
      position: sticky;
      top: 20px;
   }

   #intro h2 {
      font-size: 3rem;
      font-weight: 900;
      color: rgb(176, 107, 240);
   }

   h3.topic {
      text-align: center;
      font-size: 2rem;
   }

   section {
      margin: 10px 25px;
      padding: 15px 5px;
      text-align: center;
   }

   nav {
      display: none;
   }

   #my-photo {
      float: none;
      width: 300px;
      height: auto;
   }

   span.menu {
      display: block;
      cursor: pointer;
      font-size: 20px;
   }

   .lower-nav {
      position: relative;
      left: -900px;
      display: inline-block;
      padding: 20px;
      width: 98%;
      margin: 0 auto;
      background: black;
      color: #fff;
      display: flex;
      justify-content: space-around;
      transition: .9s ease;
   }

   .lower-nav .item {
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      transition: 0.3s;
      cursor: pointer;
   }

   footer {
      margin: 10px 25px;
      padding: 15px 5px;
      color: #fff;
   }
}

@keyframes hovering {
   0% {
      top: 0px;
   }

   50% {
      top: -15px;
   }

   100% {
      top: 0px;
   }
}